aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
asyncpg
attrs
beautifulsoup4
blinker
caugetch
certifi
charset-normalizer
click
clipboard
colorama
dataclasses-json
distro
faiss-cpu
Flask
Flask-Cors
frozenlist
getpass4
greenlet
h11
httpcore
httpx
httpx-sse
idna
itsdangerous
Jinja2
jsonpointer
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
MarkupSafe
marshmallow
multidict
mypy-extensions
numpy
openai
orjson
packaging
propcache
psycopg2-binary
pydantic
pydantic-settings
pydantic_core
PyMuPDF
pypdf
pyperclip
python-dotenv
PyYAML
redis
regex
requests
requests-toolbelt
serpapi
sniffio
soupsieve
SQLAlchemy
tenacity
tiktoken
tqdm
typing-inspect
typing_extensions
urllib3
waitress
Werkzeug
WSGIserver
yarl
zstandard
